.root {
  height: 100%;
  display: flex;
}

.root canvas {
  width: 0;
  flex: 1 1 0;
}

.fields {
  width: 1200px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-left: 1px solid #d3d3d3;
  background-color: #f7f7f7;
}

.field {
  height: 0;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  user-select: none;
  color: #404040;
  font-weight: bold;
}

.fields textarea {
  width: 100%;
  height: 0;

  flex: 1 1 0;
  resize: none;
  padding: 8px;
  box-sizing: border-box;

  border-radius: 4px;
  border: 1px solid #d3d3d3;
  font-family: monospace;
}
